@import 'components/colors';

@import 'components/header';


@import 'components/buttons';
@import 'components/sistema';
@import 'components/style';
@import 'components/navigation';

h2 .welcome
{
    padding: 5rem;
}

body
{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;1,400&display=swap');
}

