/*Variáveis*/
:root
{
    --button-primary-color: #1e03b9;
    --font-primary-color: #fff;
    --hover-button-color: #2d2bcc;
}

.button{
    width: 30%;
    height: 35px;
    background-color:var(--button-primary-color);
    color: var(--font-primary-color);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    margin: 3px;
    border: 1px solid white;
}

button:hover, tr:hover{
    background-color:var(--hover-button-color);
    color: rgb(255, 255, 255);
}