/*Variáveis*/
:root
{
    --tb-bg-color: #002fffad;
    --tb-bg2-color: #002fffad;
    --tb-sel-color: #002fffad;
    --font-primary-color: #fff;
}

#wrap
{
    width: 50%;
    background: linear-gradient(100deg, var(--tb-bg-color), var(--tb-bg2-color));
}

#wrap input{
    border-radius: 10px;
    width: 60%;
    height: 30px;
    margin: 2px;
}

#botoes, #saida, #wrap{
    text-align: center;
    border-radius: 20px;
    padding: 1%;   
}

.info
{
    .title
    {
        margin-top: 1rem;
    }

    #saida
    {
        display: flex;
        justify-content: center;
        align-items: center;

        input
        {
            height: 20px;
            width: 20px;
        }

        table
        {
            border-radius: 5px;
            background: linear-gradient(100deg, var(--tb-bg-color), var(--tb-sel-color));
            color: var(--font-primary-color);
        }
        
        td
        {
            border: 1px solid white;
        }
    }

    .register
    {
        position: relative;
        left: 67%;

        &:hover
        {
            text-decoration: underline;
            color: black;
        }

        a 
        {
            color: black;
            font-size: 15px;
            font-weight: 500;
        }
    }
}